.md-stepper-optional {
  .md-stepper-title {
    text-align: left;
    white-space: nowrap;

    small:not(.md-stepper-error-message) {
      color: rgba(0, 0, 0, .54);
    }

    small {
      transition: $swift-ease-out;
      font-size: 12px;
      line-height: 1em;
    }
  }
}
