.md-stepper-optional {
  .md-stepper-title {
    text-align: left;
    white-space: nowrap;

    small {
      transition: $swift-ease-out;
      color: rgba(0, 0, 0, .54);
      font-size: 12px;
      line-height: 1em;
    }
  }
}
