<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Angular Material Steppers</title>
    <link href="angular-material/angular-material.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="angular-material-steppers.css" rel="stylesheet">
    <link href="demo.css" rel="stylesheet">
  </head>

  <body ng-app="ngMaterialSteppers" ng-controller="AppController as app">
    <!-- <div class="md-steppers md-steppers-linear md-steppers-alternative"> -->
    <!-- <div class="md-steppers md-steppers-alternative"> -->
    <!-- <div class="md-steppers md-steppers-linear"> -->
    <!-- <div class="md-steppers">
      <md-card class="md-steppers-header">
        <button class="md-stepper-indicator md-completed md-editable" md-ink-ripple>
          <div class="md-stepper-indicator-wrapper">
            <div class="md-stepper-number">
              <md-icon class="md-stepper-icon md-stepper-icon-edit">edit</md-icon>
            </div>
            <span class="md-stepper-title">Select a campaign</span>
          </div>
        </button>

        <button class="md-stepper-indicator md-active">
          <div class="md-stepper-indicator-wrapper">
            <div class="md-stepper-number">
              <md-icon class="md-stepper-icon">check</md-icon>
            </div>
            <div class="md-stepper-number">2</div>
            <span class="md-stepper-title">Create an group</span>
          </div>
        </button>

        <button class="md-stepper-indicator" md-ink-ripple>
          <div class="md-stepper-indicator-wrapper">
            <div class="md-stepper-number">3</div>
            <span class="md-stepper-title">Create an ad</span>
          </div>
        </button>

        <button class="md-stepper-indicator md-stepper-optional" md-ink-ripple>
          <div class="md-stepper-indicator-wrapper">
            <div class="md-stepper-number">4</div>
            <div class="md-stepper-title">
              <span>Publish the ad</span>
              <small>Optional</small>
            </div>
          </div>
        </button>
      </md-card>

      <div class="md-steppers-content">
        <div class="md-stepper">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        </div>

        <div class="md-stepper">
          <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="user.name">
          </md-input-container>

          <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="user.email">
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="user.password">
          </md-input-container>

          <md-input-container>
            <label>Confirm password</label>
            <input type="password" ng-model="user.confirmPassword">
          </md-input-container>
        </div>

        <div class="md-stepper">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        </div>

        <div class="md-stepper">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        </div>
      </div>

      <div class="md-steppers-actions">
        <md-button class="md-primary">Back</md-button>
        <span flex></span>

        <md-button>Cancel</md-button>
        <md-button class="md-primary">Next</md-button>
      </div>
    </div> -->

    <div class="toggle-options">
      <md-button class="md-primary md-raised" ng-click="app.toggleLinear();">Toggle Linear</md-button>
      <md-button class="md-primary md-raised" ng-click="app.toggleAlternative();">Toggle Alternative</md-button>
      <md-button class="md-primary md-raised" ng-click="app.showError();">Show error</md-button>
      <md-button class="md-primary md-raised" ng-click="app.clearError();">Clear error</md-button>
    </div>

    <md-steppers id="campaign-stepper" md-linear="app.isLinear" md-alternative="app.isAlternative" md-card>
      <md-stepper md-label="Select a campaign" md-editable>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
      </md-stepper>

      <md-stepper md-label="Create an group" md-editable md-edit="app.edit()">
        <md-input-container>
          <label>Username</label>
          <input type="text" ng-model="user.name">
        </md-input-container>

        <md-input-container>
          <label>Email</label>
          <input type="email" ng-model="user.email">
        </md-input-container>

        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="user.password">
        </md-input-container>

        <md-input-container>
          <label>Confirm password</label>
          <input type="password" ng-model="user.confirmPassword">
        </md-input-container>
      </md-stepper>

      <md-stepper md-label="Create an ad" md-editable>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
      </md-stepper>

      <md-stepper md-label="Publish the ad" md-editable md-optional="Optional">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
      </md-stepper>

      <md-steppers-actions>
        <md-button class="md-primary" ng-click="app.previousStep();">Back</md-button>
        <span flex></span>

        <md-button ng-click="app.cancel();">Cancel</md-button>
        <md-button class="md-primary" ng-click="app.nextStep();">Next</md-button>
      </md-steppers-actions>
    </md-steppers>

    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-material/angular-material.js"></script>
    <script src="angular-material-steppers.js"></script>
    <script src="demo.js"></script>
  </body>
</html>
